.nav-link {
    color:white;
    margin: 0.5em;
  }
  
  .nav-link:hover {
    cursor: pointer;
  }
  
    nav{
        background-color:cornflowerblue;
        text-align: center;
        width: 100vw;
        padding:5px;
        background: rgb(112, 168, 190);
    }

.hidden {
    display: none;
  }

  small{
    max-width: 50%;
  }

#home-content{
  margin-top: 10%;
}

section{
  margin: auto;
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
}
header{
  margin: auto;
  height: 20vmax;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1522199710521-72d69614c702?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  font-size: 40px;
}

#header-text{
  font-family: 'Megrim', cursive;
  font-weight: 1000;
  padding-top: 10vmax;
  color:rgb(255, 255, 255);
}

.saveclear {
  display: inline-block;
  margin: 4%;
  
}

#search-form{
  justify-content: space-between;  
}

.saveoptions{
  display:inline-block;
  margin-top:10px;
  margin-right:10px;

}

  #search-result{
          border: 1px solid black;
          max-width: 75%;
          width:500px;
          height:300px;
          overflow: auto;
          text-align:center;
          margin-left: auto;
          margin-right: auto;
          border-radius: 10px;
  }

  #signup-form{
    padding: 10px;
    max-width: min-content;
    margin-top: 10px;
  }
  #signup-username{
    margin-bottom: 20px;
  }
  #signup-password{
    margin-bottom: 20px;
  }

  #login-form{
    padding: 10px;
    max-width: min-content;
    margin-top: 10px;
  }
  #login-username{
    margin-bottom: 20px;
  }

  #login-password{
    margin-bottom: 20px;
  }
  body{
    margin: auto;
    max-width: max-content;
    max-height: max-content;
  }

  input[type="submit"] {
    background:rgb(133, 176, 216);
    color: white;
  }

  input[value="Clear"] {
    background:rgb(153, 139, 194);
    color: white;

  }

  .history-card {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
  }

  .history-card div {
    display: inline;
    background-color: aqua;
  }