.nav-link {
    color:white;
    margin: 0.5em;
  }
  
  .nav-link:hover {
    cursor: pointer;
  }
  
    nav{
        background-color:cornflowerblue;
        text-align: center;
        width:750px;
    }

/*.hidden {
    display: none;
  }*/

  small{
    max-width: 50%;
  }



section{
  margin: auto;
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
}

#search-form{
  justify-content: space-between;
}

  #result{
          border: 1px solid black;
          max-width: 75%;
          width:500px;
          height:300px;
          overflow: auto;
          text-align:center;
          margin-left: auto;
          margin-right: auto;
  }

  body{
    margin: auto;
    max-width: max-content;
    max-height: max-content;
  }