.nav-link {
    color:white;
    margin: 0.5em;
  }
  
  .nav-link:hover {
    cursor: pointer;
  }
  
    nav{
        background-color:cornflowerblue;
        text-align: center;
        width: 100vw;
        padding:5px;
        background: rgba(0,0,0,0.5);
    }

.hidden {
    display: none;
  }

  small{
    max-width: 50%;
  }

#home-content{
  margin-top: 10%;
}

section{
  margin: auto;
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
}
header{
  margin: auto;
  height: 20vmax;
  text-align: center;
  background: url('https://i.imgur.com/PBIJhyf.jpg');
  background-size: 100vmax 20vmax;
  color:white;
  background-repeat:no-repeat;
  font-size: 40px;
}
.saveclear {
  display: inline-block;
  margin: 4%;
  
}
#search-form{
  justify-content: space-between;  
}

#header-text{
  padding-top: 10vmax
}
  #result{
          border: 1px solid black;
          max-width: 75%;
          width:500px;
          height:300px;
          overflow: auto;
          text-align:center;
          margin-left: auto;
          margin-right: auto;
  }

  #signup-form{
    padding: 10px;
    max-width: min-content;
    margin-top: 10px;
  }
  #signup-username{
    margin-bottom: 20px;
  }
  #signup-password{
    margin-bottom: 20px;
  }

  #login-form{
    padding: 10px;
    max-width: min-content;
    margin-top: 10px;
  }
  #login-username{
    margin-bottom: 20px;
  }

  #login-password{
    margin-bottom: 20px;
  }
  body{
    margin: auto;
    max-width: max-content;
    max-height: max-content;
  }

  input[type="submit"] {
    background:green;
    color: white;
  }

  input[value="Clear"] {
    background:red;
    color: white;
  }

  .history-card {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
  }

  .history-card div {
    display: inline;
    background-color: aqua;
  }